/* Custom CSS for Hamburger in Pure CSS */
.line-one,
.line-three {
    transform-origin: 50% 50%;
    /* animation: line-grow ease-out 500ms; */
}

.css:hover .line-two {
    display: none;
}

.css:hover .line-one {
    transform: translate(0, 8px) rotate(45deg)
}

.css:hover .line-three {
    transform: translate(0, -4px) rotate(-45deg)
}

.svgBox {
    border: 1px solid black;
    content: '';
    height: 250px;
    width: 250px;
    margin: 12px;
    display: grid;
    place-content: center;
    border-radius: 10px;
}


.svgBox>.holder {
    display: flex;
    flex-direction: column;
}

.container>.row {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.cssline1,
.cssline2,
.cssline3 {
    height: 10px;
    width: 125px;
    content: '';
    margin-bottom: 8px;
    background-color: black;
}

/* Custom CSS for Hamburger in GSAP */